<div class="title br-top-12 member-page-title-mob">{{ 'account-change-password-page-title' | translate }}</div>
<div class="content br-top-12 content-password">
  <form nz-form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-label class="password-change-label-flex" [nzSm]="4" [nzXs]="24" nzRequired>{{
        'account-change-password-current' | translate
      }}</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24" nzErrorTip="请输入当前密码">
        <input
          type="password"
          nz-input
          formControlName="oldPassword"
          id="oldPassword"
          placeholder="{{ 'account-change-password-current' | translate }}"
          maxlength="30"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label class="password-change-label-flex" [nzSm]="4" [nzXs]="24" nzFor="password" nzRequired>{{
        'account-change-password-new-password' | translate
      }}</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24" [nzErrorTip]="passwordErrorTpl">
        <input
          nz-input
          type="password"
          id="password"
          formControlName="newPassword"
          maxlength="30"
          placeholder="{{ 'account-change-password-new-password' | translate }}"
        />
        <ng-template #passwordErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">请输入密码</ng-container>
          <ng-container *ngIf="control.hasError('error')"> 密码必须由大小写字母、数字、特殊符号中的2种及以上类型组成! </ng-container>
          <ng-container *ngIf="control.hasError('length')"> 密码至少6位 </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label class="password-change-label-flex" [nzSm]="4" [nzXs]="24" nzFor="checkPassword" nzRequired>{{
        'account-change-password-new-password-confirm' | translate
      }}</nz-form-label>
      <nz-form-control [nzSm]="10" [nzXs]="24" [nzErrorTip]="errorTpl">
        <input
          nz-input
          type="password"
          class="password-edit-label"
          formControlName="checkPassword"
          id="checkPassword"
          maxlength="30"
          placeholder="{{ 'check-password-message' | translate }}"
        />
      </nz-form-control>
      <ng-template #errorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">请输入确认密码</ng-container>
        <ng-container *ngIf="control.hasError('confirm')">两次密码不一致</ng-container>
      </ng-template>
    </nz-form-item>
    <div class="footer">
      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="10" [nzOffset]="6">
          <button class="confirm" nz-button nzType="primary" (click)="validate()">{{
            'account-change-password-confirm' | translate
          }}</button>
          <button nz-button nzType="default" class="password-edit-button-display-none">
            <a routerLink="/member/index">{{ 'increase-invoice-return' | translate }}</a>
          </button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>
</div>
