<div class="payment-methods-crypto">
  <nz-skeleton *ngIf="loading.createPayOrder"></nz-skeleton>

  <div *ngIf="!payResult && !loading.createPayOrder; else paymentElement" class="methods">
    <div class="title">{{ 'checkout-confirm-amount-to-be-paid' | translate }}:</div>
    <div class="amount-value">{{ amount | currency }}</div>
    <div class="title">{{ 'checkout-confirm-choose-method' | translate }}:</div>
    <button
      class="btn-payWay"
      *ngFor="let payWay of payWayList"
      nz-button
      nzBlock
      nzSize="large"
      (click)="selectPayWay(payWay.platformCode)"
    >
      <img class="icon" [src]="payWay.icon" alt="icon" />
      {{ payWay.name | translate }}
    </button>
  </div>
  <ng-template #paymentElement>
    <div class="payment-element" id="payment-element"> </div>
  </ng-template>
</div>
