<div class="modal__header alt tokens" [class.scrolling]="isScrollable">
  <div class="title">
    <div class="icon">
      <picture>
        <source type="image/png" srcset="/assets/images/TYQOON-Dollars-cc.png 1x, /assets/images/TYQOON-Dollars-cc@2x.png 2x" />
        <img src="/assets/images/TYQOON-Dollars-cc.png" alt="Dollars" />
      </picture>
    </div>
    <span>TYQOON Dollars</span>
  </div>
</div>

<div class="modal__content tyqoon-dollars">
  <div #scrollable class="scrollable" (scroll)="onScroll()">
    <div class="currency-info">
      <div class="currency-info__wrap">
        <div class="content">
          <p>{{ 'game-tyqoon-dollars' | translate }}</p>
          <span>
            <span class="currency"> {{ userInfo.point }} </span>
            <span class="icon">
              <picture>
                <source type="image/png" srcset="/assets/images/TYD.png 1x, /assets/images/TYD@2x.png 2x" />
                <img src="/assets/images/TYD.png" alt="TYQOON Dollars" />
              </picture>
            </span>
          </span>
        </div>
      </div>
    </div>
    <p class="text"> TYQOON Dollars are earned from all your purchases on the platform when you have TYQOON PRIME </p>
    <div class="image">
      <picture>
        <source type="image/png" srcset="/assets/images/TYQOON_PRIME.png 1x, /assets/images/TYQOON_PRIME@2x.png 2x" />
        <img src="/assets/images/TYQOON_PRIME.png" alt="TYQOON PRIME" />
      </picture>
    </div>
    <p class="text">
      We give away up to 90% of the purchase value back to the users in the form of TYQOON Dollars. Earn more dollars by shopping on TYQOON
      now!
    </p>
    <div class="buttons">
      <ng-container *ngIf="showPrime; else getPrime">
        <button type="button" class="modal-blue-btn" (click)="closeModal()"> Close </button>
      </ng-container>
      <ng-template #getPrime>
        <div class="get-prime-btn-wrap">
          <button class="get-prime-btn main-hover" (click)="openPrimeModal()">
            {{ 'game-get-prime-btn' | translate }}
          </button>
        </div>
      </ng-template>

      <div class="shopping-wrap" (click)="navToShop()">
        <div class="shopping-btn main-hover">
          <a routerLink="/" class="shopping">
            <picture>
              <source type="image/png" srcset="/assets/images/tyqoon-shopping-bag.png 1x, /assets/images/tyqoon-shopping-bag@2x.png 2x" />
              <img width="45px" src="/assets/images/tyqoon-shopping-bag.png" alt="Shopping Bag" />
            </picture>
            <span>
              {{ 'header-button-shop' | translate }}
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
