<div class="title br-top-12 member-page-title-mob">{{ 'account-shipping-address-page-title' | translate }}</div>
<div class="content br-bot-12 content-invoice">
  <ul class="calss-ul">
    <li class="add" (click)="toAddressAdd()">
      <a>
        <span class="add-icon">+&nbsp;</span>
        <span class="add-words">{{ 'account-shipping-address-page-add' | translate }}</span>
      </a>
    </li>

    <li class="other-li" *ngFor="let item of dataList">
      <div class="title">
        <span class="name">{{ item.consignee }}</span> <span *ngIf="item.isDefault" class="default">默认</span>
      </div>
      <p>{{ item.phone }}</p>
      <p class="address">{{ item.areaName }}</p>
      <p class="zipCode">{{ item.zipCode }}</p>
      <div class="action">
        <a
          routerLink="/member/address/edit"
          routerLinkActive="actived"
          [queryParams]="{ id: item.id }"
          [routerLinkActiveOptions]="{ exact: true }"
          ><i title="编辑" nz-icon nzType="edit" nzTheme="twotone"></i
        ></a>
        <a href="javascript:;" (click)="toDelete(item.id)"><i title="删除" nz-icon nzType="delete" nzTheme="twotone"></i></a>
      </div>
    </li>
  </ul>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="提示信息" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <p>您确定要删除吗？</p>
  </ng-container>
</nz-modal>
