<div class="content content-password">
  <form nz-form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-label class="password-change-label-flex" [nzSm]="4" [nzXs]="24" nzRequired>{{
        'account-change-password-current' | translate
      }}</nz-form-label>
      <nz-form-control class="input_box" nzErrorTip="请输入当前支付密码">
        <code-input [isCodeHidden]="true" [codeLength]="6" (codeChanged)="currentChanged($event)" (codeCompleted)="currentComplete($event)">
        </code-input>
        <div class="notify">
          <ng-container *ngIf="form.currentForm">请输入支付密码</ng-container>
        </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label class="password-change-label-flex" [nzSm]="4" [nzXs]="24" nzFor="password" nzRequired>{{
        'account-change-password-new-password' | translate
      }}</nz-form-label>
      <nz-form-control class="input_box">
        <code-input [isCodeHidden]="true" [codeLength]="6" (codeChanged)="newChanged($event)" (codeCompleted)="newComplete($event)">
        </code-input>
        <div class="notify">
          <ng-container *ngIf="form.newForm">请输入支付密码</ng-container>
        </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label class="password-change-label-flex" [nzSm]="8" [nzXs]="24" nzFor="checkPassword" nzRequired>{{
        'account-change-password-new-password-confirm' | translate
      }}</nz-form-label>
      <nz-form-control class="input_box">
        <code-input [isCodeHidden]="true" [codeLength]="6" (codeChanged)="confirmChanged($event)" (codeCompleted)="confirmComplete($event)">
        </code-input>
        <div class="notify">
          <div *ngIf="form.confirmForm">请输入确认密码</div>
          <div *ngIf="form.diffForm">两次密码不一致</div>
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
