<div class="container">
  <nz-card>
    <nz-steps [nzCurrent]="params.current">
      <nz-step
        *ngFor="let step of this.steps; trackBy: trackById"
        [nzTitle]="step.title"
        [nzDescription]="step.description"
        [nzPercentage]="step.async ? step.percentage : null"
      ></nz-step>
    </nz-steps>
    <div nz-col [nzSpan]="24" class="child-top">
      <app-step1 *ngIf="params.current == 0" [(paramsValue)]="params"></app-step1>
      <app-step2 *ngIf="params.current == 1" [(paramsValue)]="params"></app-step2>
      <app-step3 *ngIf="params.current == 2"></app-step3>
    </div>
  </nz-card>
</div>
